* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.memberHeader {
    margin: 40px 0;
}

.hoivien {
    background-color: #ff401aa1;
}

.head-infor-account{
    margin: 40px 0px ;
}
.ita{
    font-style: italic;
}

.review{
    color: #fff;
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 15px;
    border-bottom-left-radius:  5px;
    padding: 5px;
    border-top-right-radius: 5px;
    
}
.rate{
    font-size: 20px ;
    font-weight: bolder;
}




/* @media(max-width: 991px){
    .list-fvr{
        position: relative;     
        left: 3%;  
    }
    .unlike{
        margin-bottom: 10px;
    }
   
} */


