h1 {
    color: #ff421a !important;
    font-size: 30px !important;
}

.watchmore {
    color: #ff421a;
    font-size: 20px;
    cursor: pointer;
}

.watchmore:hover {
    color: #ffa492;
}

.heading1:hover {
    color: #fc9f8d;
}

.promotionimg {
    opacity: 0.8;
    background-color: Black;
    width: 100%;
    height: 150px;
    object-fit: cover;
    top: -20%;
    cursor: pointer;
    border-radius: 10px;
}

.promotionimg:hover {
    opacity: 1;
    border: 1px solid;
    border-color: #ff421a;
}

.promotionText {
    color: #ffffff;
    background-color: #0000004b;
    border-radius: 5px;
    position: absolute;
    font-weight: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}

.promotionText:hover {
    color: #ff421a;
    background-color: #00000000;
    border-radius: 10px;
}

.btn-full {
    background-color: #ff421a;
    color: #fff;
    border-radius: 10px;
    width: max-content;
}

.btn-full:hover {
    background-color: #fd826a;
}

.btn-outline {
    border-radius: 10px;
    border: 2px solid #ff421a;
    color: #ff421a;
    width: max-content;
}

.btn-outline:hover {
    background-color: #ff421a;
    color: #ffffff !important;
    border-color: #ff421a;
}

.wrapper {
    margin: 10px 0px;
}

.inspiredbg {
    height: 100%;
    background: linear-gradient(180deg, #ffc0cb00 10%, #ffacac 80%, #ff676700 10%);
}

.imgTopic {
    width: 100%;
    height: 165px;
    position: relative;
    object-fit: cover;
    border-radius: 100%;
    align-self: center;
    padding: 10px;
}

.infoTopic {
    width: auto;
    border-radius: 15px !important;
    box-shadow: 3px 3px #9c9c9c;
    cursor: pointer;
    align-self: center;
}

.btn-outline-secondary {
    border: 3px solid !important;
    width: 100%;
    border-color: #ff421a !important;
    border-radius: 15px !important;
    margin-bottom: 15px;
}

.btn-outline-secondary:hover {
    background-color: #ff421a;
}

@media screen and (max-width: 700px) {
    .btn-outline {
        margin-bottom: 30px;
    }
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.btn-login {
    background-color: #FF421A;
    color: #fff;
    border-radius: 50px;
    margin: 0 10px;
}

.btn-login:hover {
    background-color: #ff8d76;
}

.btn-business {
    border-radius: 50px;
    border: 2px solid #FF421A;
    color: #fff;
}

.btn-business:hover {
    background-color: #FF421A;
    color: #FFFFFF;
}